<div class="reset-password-container">
    <div class="reset-password-form">
      <h2>Reset Your Password</h2>
      <p>Please enter your new password below.</p>
      <form (ngSubmit)="resetPassword()">
        <div class="input-group">
          <label for="password">New Password</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" required>
        </div>
  
        <div class="input-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
        </div>
  
        <button type="submit" class="reset-button">Reset Password</button>
      </form>
      <div class="options">
        <a href="/login">Back to Login</a>
      </div>
    </div>
  </div>
  